<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Золотой Дракон</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/index.css">
</head>
<body>
    <div>
        <header class="sticky-top myTop">
            <nav>
                <div class="container">
                    <div id="Emblem">
                        <a class="navbar-brand" href="index">
                            <img src="~/Content/Photo/Emblems/Emblem.png" width="75" height="75">
                            <img src="~/Content/Photo/Emblems/Emlem.png" width="200" height="25">
                        </a>
                    </div>
                    <div class="Menu">
                        <div class="row">
                            <a href="index" class="btn myButton">Главная</a>
                            <a href="Prices" class="btn myButton">Цены</a>
                            <a href="#" class="btn myButton">Номера</a>
                            <a href="#" class="btn myButton">Отзывы</a>
                            <a href="#" class="btn myButton">Контакты</a>
                            <div style="padding-left:20px">
                                <a href="#"><img src="~/Content/Photo/Icons/RussianFlag_icon.png" /></a>
                                <a href="#" style="padding-left:20px"><img src="~/Content/Photo/Icons/AmericanFlag_icon.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()           
            <footer>
                <div>
                    <ul>
                        <li><a href="index.html">ГЛАВНАЯ</a></li>
                        <li><a href="#">НОМЕРА</a></li>
                        <li><a href="#">ГАЛЛЕРЕЯ</a></li>
                        <li><a href="#">ЦЕНЫ</a></li>
                        <li><a href="#">УСЛУГИ</a></li>
                        <li><a href="#">НОВОСТИ</a></li>
                        <li><a href="#">ОТДЫХ В с.МОЛОРЕЧЕНСКОЕ</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                        <li><a href="#">ГОСТЕВАЯ КНИГА</a></li>
                    </ul>
                </div>
            </footer>
    </div>
</body>
</html>