@model Golden_Dragon.Models.HotelRoomModel

@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/HotelRoomModels/_LayoutMenu.cshtml";
}
<div>
    <div class="Contacts_Header">
    </div>
    <div class="Contacts_HeaderTitleBox">
        <h1 class="Contacta_HeaderTitle">Контактная информация</h1>
    </div>
</div>
<div class="main">
    <div>
        <div id="Contacts_CuntactUs">
            <p>Крым, Алушта, с.Молореченское, ул.Виноградная 20</p>
            <p>Тел: <span class="bold">+7 (978) 077-30-31 - Наталья</span></p>
            <p class="bold">+7 (978) 553-87-69 - Виталий (WhatsApp, Viber, Telegram)</p>
            <p class="bold">+38 (098) 426-38-18</p>
            <p>Режим работы: <span class="bold">Круглосуточно.</span></p>
            <p>E-mail: <a id="Contacts_Email" href="crimeano@gmail.com">crimeano@gmail.com</a></p>
        </div>
        <div>

        </div>
    </div>
</div>


