@{
    Layout = "~/Views/HotelRoomModels/_LayoutMenu.cshtml";
}

<div>
    <div id="HeaderTextDiv">
        <h1 class="HeaderHeader display-4">Отель Золотой Дракон</h1>
        <p class="HeaderText">
            Домовладение «Золотой Дракон» расположено в курортном поселке Южного берега Крыма - Малореченское.
            Общее оформление домовладения в китайском стиле радует глаз не только жильцов, но и всех проходящих мимо.
        </p>
        <p class="HeaderText">
            Территория: две совершенно не зависимые, полностью оборудованные кухни: по одной на два соседних номера.
            Два мангала на территории. Тенистая беседка, детский батут, качеля, шведская стенка, небольшой бассейн (25м³).
        </p>
        <div id="HeaderButton">
            <a href="#" title="Забронировать номер" class="btn btn-primary btn-lg Button_Header">Забронировать номер</a>
        </div>
    </div>
    <div class="HeaderBackground">
        <div class="HeaderBackgroundBlacker"></div>
    </div>
</div>
<div class="main">
    <section class="dragon-about">
        <div class="container">
            <div class="dragon-aboutContent">
                <table>
                    <tr>
                        <td class="Picture_Topic">
                            <img src="~/Content/Photo/Nomer1/_dsc0195.jpg">
                            <p class="about">Трёхместный номер с террасой</p>
                        </td>
                        <td class="Picture_Topic">
                            <img src="~/Content/Photo/Nomer2/_dsc0187.jpg">
                            <p class="about">Трёхместный номер с террасой</p>
                        </td>
                        <td class="Picture_Topic">
                            <img src="~/Content/Photo/Nomer3/_dsc0144.jpg">
                            <p class="about">Трёхместный номер с общим балконом</p>
                        </td>
                        <td class="Picture_Topic">
                            <img src="~/Content/Photo/Nomer4/dsc_0054.jpg">
                            <p class="about">Трёхместный номер с общим балконом</p>
                        </td>
                        <td id="Picture_Topic_Button">
                            <button type="button" class="btn btn-outline-warning" style="width:112.5%">Подробнее</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="Space"></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div>
                                <h2>Гостевой дом «Золотой Дракон»</h2>
                                <img id="MainTextFirstPicture" style="float:right" src="~/Content/Photo/Malorechka/HolyBeacon.jpg" />
                                <p class="Main_Text">
                                    Гостевой дом «Золотой Дракон» расположен в на юго-восточном берегу побережье Крыма в с.Малореченское. Село расположено на юго-восточном побережье Крыма, на берегу Чёрного моря, в устье реки Кучук-Узень (она же — Микро-Потам. Расстояние до Алушты около 25 километров (по шоссе), ближайшая железнодорожная станция — Симферополь-Пассажирский — примерно в 65 километрах, высота центра села над уровнем моря 17 м. Вокруг села большое количество виноградников с.Малореченское, входит в состав НПАО «Массандра». Достопримечательность Малореченского — храм-маяк Святого Николая Чудотворца, построенный в 2006 году. Транспортное сообщение осуществляется по региональной автодороге 35К-005 Алушта — Судак
                                </p>
                                <p class="Main_Text">Тихий и уютный дворик, в котором находится гостиница, создает особую восточную атмосферу и дарит спокойствие. У нас Вы сможете отстраниться от каждодневной суеты большого города, расслабиться и восстановить силы. </p>
                                <img id="MainTextSecondPicture" style="float:left" src="~/Content/Photo/Dvor1.jpg" />
                                <p class="Main_Text">Если Вы решили отправиться на отдых в Крым, то Вам следует внимательно изучить те варианты размещения, которые предоставляют гостиницы  и отели Крыма, а затем среди существующего разнообразия предложений выбрать тот, который подходит именно Вам.</p>
                                <p class="Main_Text">Сделать это будет непросто, ведь количество отелей в Крыму с каждым годом растет. Но думаем, что узнав о Гостевом доме «Золотой Дракон» Вы прекратите поиски и решите остановиться у нас.</p>
                                <p class="Main_Text">Приятный и комфортный отдых каждого гостя в стенах гостевого дома «Золотой Дракон» – вот наша основная забота!</p>
                                <p class="Main_Text">Небольшой и тихий Гостевой дом «Золотой Дракон» предлагает своим гостям трех местные номера, в которых они смогут отдохнуть и расслабиться. Уютные и светлые номера  оборудованы всем необходимым для комфортного отдыха и проживания. В каждом номере  большие и удобные кровати (длина кровати более двух метров), телевизор, интернет (WI-FI), горячая вода (круглосуточно), санузел, душ. </p>
                                <p class="Main_Text">Приятный и комфортный отдых каждого гостя в стенах гостевого дома «Золотой Дракон»  – вот наша основная забота!</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <div id="Galery">
                    <a href="#"><img class="galery" src="~/Content/Photo/zolotoyDrakon2.jpg"></a>
                    <a href="#"><img class="galery" src="~/Content/Photo/Dvor1.jpg"></a>
                    <a href="#"><img class="galery" src="~/Content/Photo/zolotoyDrakon3.jpg"></a>
                    <a href="#"><img class="galery" src="~/Content/Photo/zolotoyDrakon_Kitchen1.jpg"></a>
                </div>
                <div id="Galery_Button">
                    <button type="button" class="btn btn-outline-warning">Перейти в галлерею</button>
                </div>
                <div id="Prices">
                    <table id="PriceTable">
                        <thead>
                        <td class="TableHead">Название</td>
                        <td class="TableHead">Стоимость в сутки (01.07-30.09)</td>
                        <td class="TableHead">Стоимость в сутки (01.10-31.03)</td>
                        <td class="TableHead Spatial">Специальное предложение (22.07-24.07)</td>
                        <td class="TableHead Spatial">Все номера 07.01-08.01 по 400грн.</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="TableBorders TableName">
                                    <p>Трёхместный номер с террасой</p>
                                </td>
                                <td class="TableBorders">
                                    <p>530 грн.</p>
                                </td>
                                <td class="TableBorders">
                                    <p>430 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>480 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>400 грн.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="TableBorders TableName">
                                    <p>Трёхместный номер с террасой</p>
                                </td>
                                <td class="TableBorders">
                                    <p>530 грн.</p>
                                </td>
                                <td class="TableBorders">
                                    <p>430 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>480 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>400 грн.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="TableBorders TableName">
                                    <p>Трёхместный номер с общим балконом</p>
                                </td>
                                <td class="TableBorders">
                                    <p>610 грн</p>
                                </td>
                                <td class="TableBorders">
                                    <p>510 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>560 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>400 грн.</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="TableBorders TableName">
                                    <p>Трёхместный номер с общим балконом</p>
                                </td>
                                <td class="TableBorders">
                                    <p>610 грн</p>
                                </td>
                                <td class="TableBorders">
                                    <p>510 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>560 грн.</p>
                                </td>
                                <td class="TableBorders Spatial">
                                    <p>400 грн.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="FooterBackGround">
        <div id="ContactUs">
            <div id="ContactUs_Top">
                <h4 class="bold">Обратная Связь</h4>
            </div>
            <div>
                <form>
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Email">
                </form>
            </div>
        </div>
        <div>
            <h1 style="font-weight: bold;">Свяжитесь с нами</h1>
            <br />
            <p class="bold">Гостевой дом "Золотой Дракон"</p>
            <p id="Footer_Names">Крым, Алушта, с. Малореченское</p>
            <p class="bold">ул. Виноградная, 20</p>
            <p class="bold">Тел: +7 (978) 077-30-31 - Наталья</p>
            <p style="margin-left: 40px"><span style="font-weight: bold">+7 (978) 553-87-69 - Виталий</span></p>
            <p style="margin-left: 40px"><span style="font-weight: bold">+38 (098) 426-38-18 (WhatsApp, Viber, Telegram)</span></p>
            <p class="bold">E-mail: <a href="crimeano@gmail.com" class="Email">crimeano@gmail.com</a></p>
        </div>
    </section>
</div>
